.game h1{

    font-size: 2.5em;
}
.ponits.span {

    font-weight: bold;
}

.tip span {
 color: #0d0d0d;

}
 .worContainer {

 margin: 1.5em;
padding: 1.5em;
border: 20px solid #0a0a0a;
display: flex;

 }
 .letter, 
 .blankSquare{
    font-size: 70px;
line-height: 1.5;
border: 3px solid #0a0a0a;
height: 100px;
width: 100px;
text-transform: uppercase;
background-color: #fff;
color: #0a0a0a;
font-weight: bold;

 }

 .letterContainer p {
 margin-bottom: 1.2em;


 }

 .letterContainer form {
    display: flex;
align-items: center;
justify-content: center;

 }

 .letterContainer input {
height: 50px;
width: 50px;
font-size: 2em;
text-align: center;
margin-right: 1em;


 }

